@media(max-width: 950px){
   .header__menu{
      max-width: 35%;
   }
}


@media(max-width: 820px){
   .header{
      display: none;
   }
   .header-adaptive{
      display: block;
   }
}




@media(max-width: 750px){
   .top-title{
      font-size: 35px;
      // padding-top: 15vh;
   }
   .top-scroll-btn{
      span{
         display: none;
      }
      img{
         margin-right: 0;
      }
   }
}

@media(max-width: 470px){
   .top-title{
      font-size: 25px;
      // padding-top: 15vh;
   }
}