@media(max-width: 950px){
   .footer__inner{
      padding: 40px 10px;
   }
   .footer__col{
      &:first-child{
         display: none;
      }
   }
   .brands__text{
      max-width: 580px;
   }
   .header__menu{
      max-width: 35%;
   }

   .services__item{
      margin-bottom: 60px;
   }


   .services__item-img-box{
      height: 210px;
      width: 277px;
   }

   .services__item-name{
      font-size: 24px;
      margin-top: 0.7em;
      text-align: center;
   }
}


@media(max-width: 820px){
   .footer__inner{
      justify-content: space-around;
   }
   .header{
      display: none;
   }
   .header-adaptive{
      display: block;
   }
}




@media(max-width: 750px){
   .title{
      margin-bottom: 30px;
   }
   .brands{
      margin-bottom: 70px;
   }
   .footer__col{
      text-align: center;
   }
   .our-work__grid{
      grid-template-columns: 1fr 1fr;
   }
   .brands__quaotes{
      margin-bottom: 40px;
   }
   .top-title{
      font-size: 35px;
      // padding-top: 15vh;
   }
   .top-scroll-btn{
      span{
         display: none;
      }
      img{
         margin-right: 0;
      }
   }
}

@media(max-width: 470px){
   .title{
      font-size: 38px;
   }
   .our-work__grid{
      grid-gap: 10px;
   }
   .top-title{
      font-size: 25px;
      // padding-top: 15vh;
   }
}