.price {
   padding-top: 170px;
   &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
      &:nth-child(odd){
         .price__list{
            order: 1
         }
         .price__img-container{
            order: 2
         }
      }
   }
   &__img-container {}
   &__list {
      flex-grow: 1;
      max-width: 526px;
   }
   &__item {
      min-height: 120px;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__item-box {
      display: flex;
      justify-content: space-between;
      font-size: 27px;
   }
   &__name {
      
   }
   &__value {}
   &__bonus {}
 }
 .container {
 }
 .title {
 }
 